<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ブログ編集</title>
	<link rel="stylesheet" th:href="@{/reset.css}">
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<header class="menu">
		<div class="inner">
			<div class="logo">
				<a href=""><img th:src="@{/img/blog.png}" alt=""></a>
			</div>
			<ul class="list">
				<!-- account名前を表示したい -->
				<li class="list__item" th:text="${accountName}"></li>
				<li class="list__item"><a th:href="@{/blog/list}">ブログリスト</a></li>
				<li class="list__item"><a th:href="@{/account/logout}">ログアウト</a></li>
			</ul>
		</div>
	</header>
	<main>
		<div class="main-inner">
			<section class="register-section">
				<h2>ブログ編集中</h2>
				<form th:action="@{/blog/edit/process}" method="post" enctype="multipart/form-data">
					<div class="register-section-details">
						<div class="register-section-details_flex">
							<div class="blog_register">タイトル</div>
							<input class="blogTitle"　type="text" name="blogTitle" th:value="${blog.blogTitle}">
						</div>
						<div class="register-section-details_flex">
							<div class="blog_register">カテゴリ</div>
							<select name="categoryName"　class="categoryName">
								<option value=""></option>
								<option value="中国料理" th:selected="${blog.categoryName}=='中国料理'">中国料理</option>
								<option value="イタリア料理" th:selected="${blog.categoryName}=='イタリア料理'">イタリア料理</option>
								<option value="日本料理" th:selected="${blog.categoryName}=='日本料理'">日本料理</option>
								<!-- 時間がある場合、ユーザーがカテゴリを追加できるように挑戦してみたいと考えています。 -->
							</select>
						</div>
						<div class="register-section-details_flex">
							<div class="blog_register">ブログの写真</div>
							<input type="file" name="blogImage">
						</div>
						<div class="register-section-details_flex">
							<div class="blog_register">ブログの内容</div>
							<textarea name="article" th:text="${blog.article}" placeholder="今日は何を作りましたか…"></textarea>
						</div>
					</div>
					<div class="register-section-details">
						<input type="hidden" name="blogId" th:value="${blog.blogId}">
						<button class="register">更新</button>
						<button class="back-btn" onclick="history.back()" type="button">戻る</button>
					</div>
				</form>
				<form th:action="@{/blog/delete}" method="post" class="deletion">
					<div class="register-section-details_flex">
						<input type="hidden" name="blogId" th:value="${blog.blogId}">
						<button class="register" type="submit" onclick="return confirm('このブログを削除しますか？')">削除</button>
					</div>
				</form>
			</section>
		</div>
	</main>
	<footer>
		<div>
			<small>&copy;2025 RAN individual_blog exercise</small>
		</div>
	</footer>
</body>

</html>