main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
      
}
.main-inner{
   /*画面の真ん中に*/
    margin: 0 auto; 
}
.register-section{
    /*罫線を引く*/
    border: 3px solid gainsboro;
    /*ペイジーに浮いている見えるように*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    /*幅の設定*/
    width: 500px;
    border-radius: 8px;
    /*画面を真ん中に持ってくる*/
    margin: 0 auto;
}
.register-section-details{
    /*幅の設定*/
    width: 350px;
    /*画面の真ん中に*/
    margin: 0 auto;
}
.register-section-details_flex{
   margin-top: 15px;
}
.register_pass{
    display: inline-block;
    width: 120px;
    color: rgb(238, 182, 97); 
    text-align: left;
}
.register-position{
margin-top: 20px;
margin-bottom: 20px;
}

.register{
    width: 100px;
    padding: 6px 0;
    background-color:antiquewhite;
    color: rgb(119, 116, 116);
    margin-top: 20px;
    border: 1px solid transparent;
    /* 角を丸いにする */
    border-radius: 2px;

}
.back-btn{
    width: 100px;
    padding: 6px 0;
    background-color:antiquewhite;
    color: rgb(119, 116, 116);
    margin-top: 20px;
    border: 1px solid transparent;
    /* 角を丸いにする */
    border-radius: 2px;
}
